<%- include('include/header.ejs') %> 
<head>
    <link rel="stylesheet" href="/css/add-movie.css">
</head>
<body>
    <h2 id="page-work">Edit Movie</h2>
    <div class="container">
        <form action="/admin/show-movie/edit/<%= movie.id %> " method="POST">
            <input type="text" placeholder="Poster-Link" class="movie-details" name="link" required value="<%= movie.poster_link %> ">
            <input type="text" placeholder="movie-name" class="movie-details" name="name" required value="<%=movie.movie_name%>">
            <input type="text" placeholder="Price" class="movie-details" name="price" required value="<%=movie.price%>">
            <textarea name="details" class="movie-details" id="detail" cols="400" rows="400" required ><%= movie.movie_details %> </textarea>
            <div class="buttons">
                <input type="submit" class="movie-details button details">
            </div>
        </form>
    </div>
</body>